body {

  font-family: "Roboto", sans-serif; 
}

header {

  height: 4rem; 
  background-color: #4584b1;
  color: #fff;
  display: flex;
  align-items: center;

}

#logo {

  margin-left: 40px;

}

nav {

  background-color: #103594;
  height: 3rem;
  display: flex;
  align-items: center;

}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-right: auto;
}
/* Now it's time for the navigation links */
/* Create a CSS block that targets all of the <li> elements that are children of the <nav> element */
/* Use the following properties inside the block. */
/* We haven't provided the values in this case so use the values you think would be appropriate:
  - color
  - font-size
  - list-style
  - margin-right
*/
.where-togo {
  /* margin-left: 10px; */
  background-color: #040e27;
  height: 6rem;
  color: white;
  display: grid;
  align-items: center;
  
}
.input-field {
  /* width: 130px; */
  /* margin: 10; */
  padding:2px;
  /* width: 40px; */
  height: 400px
}
.search-form {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  
  /* height: 2rem; */
}
.where-togo > h3 {
  font-size: medium;
  color: white;
 
}

.search-form {
  display: flex;
}

.input-field {
  width: 220px;
  margin: 10px;
}

.search-btn {
  background-color: rgb(233, 85, 85);
  color: white;
  border-radius: 3px;
  border: none;
  /* scale: 1.2; */
}

/* Notice that each form input is wrapped in a div */
/* Create a block that targets the input-field class and apply a suitable width and margin */

/* Styling the elements of Forms is difficult. */
/* Hint: https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling */

input { 
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding-left: 20px;
  border-radius: 5px;
  /* Style the form input elements using width, height, padding-left and border-radius */
}

.nice-select {


  width: 100%;
  height: 50px;
  font-size: 1rem;
  color: #99a1a7;
  font-weight: 300;
  border: 2px solid #2b3141;
  border-radius: 5px;
  /* Select elements are not imput elements! Therefore we've given the <select> element it's own class  */
  /* They are notoriously difficult to style with css */
  /* In this case you can use width, height, font-size, color, border and border-radius */
}

.search-btn {

  background: #f9444d;
  color: white;
  padding: 5px 20px;
  font-size: 15px;
  height: 50px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  /* Buttons are probably the most fun to style! The border-radius and cursor properties can quickly make a button look good */
  /* Style the search button using the following properties: */
  /* 
  - background
  - color
  - font-size
  - height
  - width
  - border
  - border-radius
  - cursor
  */
}

.container {
  display: grid;
  justify-content: center;

  /* The destinations are enclosed in an article element that we want to make a grid */
  /* Set the display property to 'grid' and justify the content */
}


.row {
  grid-template-columns: 30% 30% 30%;
  /* The row of the grid has 3 columns which should be the same width and roughly a third of the available space */
  /* Use the grid-template-columns property to set each column to 30% */
  /* You can experiment with different units for the width values */
  /* Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
}

.section-title {
  display: flex;
  justify-content: center;

  /* The <div> with class section-title contains an <h3> child which we want to center */
  /* The easiest way to center child elements is to set the display property to 'flex' and justify the content */
}

.single-destination {

  margin: 5px;
  border-radius: 5px;
  overflow: hidden;

  /* Use the margin property to make some space between the destinations */
  /* Set the overflow to 'hidden' */
  /* The overflow CSS shorthand property sets the desired behaviour for an element's overflow 
    — i.e. when an element's content is too big to fit. In this case, the image is too big too fit. */
}

img {
  /* Set the max-width property to 100% */
}

/* Let's take the training wheels off. Finish off the page by adding styles to the remaining blocks */

.testimonial-area {

  background: #2f3648;
  padding: 50px;
}

.single-testmonial{
  background-color: white;
  padding: 10px;
  margin: 20px;
  height: 305px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Write your code here */
}

.footer {
  color: white;
  background: #040d23;
  position: relative;
  padding: 20px;
}

.footer-widget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #aeb2b6;
}
.footer-widget a:hover {
  color:  #f9444d;
}

.footer-widget ul li {
  font-size: 14px;
  line-height: 36px;
}

.footer-widget a {
  color: #AAB1B7;
}

/* Media Queries */

@media (max-width: 720px) {
  .row {
    grid-auto-flow: row;
    grid-template-columns: 50%;
  }
    /* Add some responsive code here */
    /* Make the destinations stack on top of each other */
    /* Make the form input stack on top of each other */
}